<h1>Welcome to HappyCamper!</h1>
<p>Get started by creating a free account.</p>
<hr>

<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div class="error_messages"%>
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <%end %>

  <%= render :partial => "form", :locals => {:f => f} %>

<% end %>