<div>
  <%= form.text_field :title, placeholder: "Trip Name" %>
</div>
<div>
  <%= form.text_area :description, placeholder: "Description" %>
</div>
<div>
  <p>End Date</p>
  <%= form.date_select :start_date, placeholder: "YY/MM/DD" %>
</div>
<div>
  <p>End Date</p>
  <%= form.date_select :end_date, placeholder: "YY/MM/DD" %>
</div>