<div class="hero-unit">
  <h1>HappyCamper</h1>
  <br/>
  <% if logged_in? %>
    <%= link_to "Dashboard", my_trips_path, :class => "btn btn-primary" %>
  <% else %>
    <%= link_to "Get Started!", signup_path, :class => "btn btn-primary" %>
  <% end %>
</div>
<div class="row">
  <div class="span4">
    <h4>Organize People</h4>
    <p>Iphone wolf master cleanse, gluten-free terry richardson blue bottle +1. Freegan reprehenderit williamsburg, fingerstache echo park YOLO tousled. Authentic dolor meh mixtape, aliqua cosby sweater flannel small batch.</p>
  </div>
  <div class="span4">
    <h4>Organize Gear</h4>
    <p>Iphone wolf master cleanse, gluten-free terry richardson blue bottle +1. Freegan reprehenderit williamsburg, fingerstache echo park YOLO tousled. Authentic dolor meh mixtape, aliqua cosby sweater flannel small batch.</p>
  </div>
  <div class="span4">
    <h4>Plan routes</h4>
    <p>Iphone wolf master cleanse, gluten-free terry richardson blue bottle +1. Freegan reprehenderit williamsburg, fingerstache echo park YOLO tousled. Authentic dolor meh mixtape, aliqua cosby sweater flannel small batch.</p>
  </div>
</div> <!-- end .row -->